body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('imgs/R\ \(1\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#continer{
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2{
    color: black;
}


input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: goldenrod;
}

#error{
    color: black;
    margin-top: 10px;
}
